.advantages {
  background: url("../img/white-triangle.svg") no-repeat;
  background-size: 100%;
  background-color: $bgColor;

  .container {
    padding-top: 40px;
  }
}

.advantages__image-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages__image {
  &--grey {
    display: none;
  }

  &--pink {
    display: none;
  }

  &--hello {
    width: 157px;
    height: 320px;
    background: url("../img/mobile/iphone-advant.png") no-repeat;
    background-position: 50% 37px;

    @media (min-resolution: 2dppx) {
      background: url("../img/mobile/iphone-advant@2x.png") no-repeat;
      background-size: 157px 320px;
      background-position: 50% 37px;
    }
  }
}

.advantages__block-info {
  text-align: center;

  h3 {
    font-size: 18px;
    color: #000000;
    margin-top: 38px;
    margin-bottom: 15px;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $tabletWidth) {
  .advantages {
    .container {
      display: grid;
      grid-template-columns: 268px 310px;
      column-gap: 42px;
      padding-top: 0;
    }
  }

  .advantages__image-block {
    grid-column: 1;
    grid-row: 1;
  }

  .advantages__image {
    &--hello {
      width: 268px;
      height: 482px;
      background: url("../img/tablet/iphone-advant.png") no-repeat;

      @media (min-resolution: 2dppx) {
        background: url("../img/tablet/iphone-advant@2x.png") no-repeat;
        background-size: 268px;
      }
    }
  }

  .advantages__zone-info {
    grid-column: 2;
    margin-top: 15px;
  }

  .advantages__block-info {
    width: 310px;
    text-align: left;

    h3 {
      margin-top: 40px;
    }
  }
}

@media (min-width: $desktopWidth) {
  .advantages {
    .container {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 59px;
    }
  }

  .advantages__image-block {
    order: 1;
    display: flex;
    column-gap: 137px;
  }

  .advantages__image {
    &--grey {
      display: block;
      width: 186px;
      height: 382px;
      background: url("../img/desktop/iphone1.png") no-repeat;

      @media (min-resolution: 2dppx) {
        background: url("../img/desktop/iphone1@2x.png") no-repeat;
        background-size: 186px;
      }
    }

    &--pink {
      display: block;
      width: 186px;
      height: 382px;
      background: url("../img/desktop/iphone2.png") no-repeat;

      @media (min-resolution: 2dppx) {
        background: url("../img/desktop/iphone2@2x.png") no-repeat;
        background-size: 186px;
      }
    }

    &--hello {
      width: 186px;
      height: 382px;
      background: url("../img/desktop/iphone3.png") no-repeat;

      @media (min-resolution: 2dppx) {
        background: url("../img/desktop/iphone3@2x.png") no-repeat;
        background-size: 186px;
      }
    }
  }

  .advantages__zone-info {
    width: 940px;
    position: absolute;
    top: 300px;
    order: 2;
    display: flex;
    column-gap: 20px;
    background-color: $bgColor;
    margin-top: 0;
    z-index: 5;
  }

  .advantages__block-info {
    position: relative;
    width: 252px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      width: 300px;
      height: 10px;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
      opacity: 0.3;
      filter: blur(4px);
    }

    &--mood {
      margin-left: 20px;
    }

    &--world {
      margin-left: 50px;

      h3 {
        width: 220px;
      }
    }

    &--friends {
      margin-left: 50px;

      h3 {
        width: 230px;
      }
    }

    h3 {
      font-size: 30px;
      line-height: 30px;
      text-align: center;
    }

    p {
      font-size: 18px;
      line-height: 30px;
      width: 252px;
      text-align: center;
    }
  }
}
