.effects {
  display: none;
}

@media (min-width: $tabletWidth) {
  .effects {
    display: block;

    .container {
      display: grid;
      grid-template-columns: 238px 310px;
      column-gap: 72px;
      padding-bottom: 59px;
    }
  }

  .effects__effects-image {
    margin-top: 54px;
    background: url("../img/time.svg") no-repeat;
    width: 238px;
    height: 276px;
  }

  .effects__effects-info {
    h3 {
      font-size: 30px;
      line-height: 36px;
      width: 168px;
      margin-top: 102px;
      margin-bottom: 0;
      text-align: left;
    }

    p {
      font-weight: 400;
      margin-top: 24px;
      margin-bottom: 0;
    }
  }

  .effects__effects-link {
    a {
      color: $linkColor;
    }
  }
}

@media (min-width: $desktopWidth) {
  .effects {
    background: $bgColor;

    .container {
      display: grid;
      grid-template-columns: 298px 534px;
      padding-bottom: 67px;
    }
  }

  .effects__effects-image {
    margin-top: 17px;
    width: 298px;
    height: 345px;
    background-size: contain;
  }

  .effects__effects-info {
    h3 {
      width: 298px;
      line-height: 30px;
    }

    p {
      width: 534px;
      font-size: 18px;
      line-height: 30px;
    }
  }
}
