.effects {
  display: none;
}

@media (min-width: $tabletWidth) {
  .effects {
    display: block;
  }

  .effects__content {
    display: grid;
    grid-template-columns: 238px 310px;
    column-gap: 72px;
  }

  .effects__effects-image {
    margin-top: 54px;
    background: url("../img/time.svg") no-repeat;
    width: 238px;
    height: 276px;
  }

  .effects__effects-info {
    h3 {
      font-size: 30px;
      line-height: 36px;
      margin-top: 94px;
      margin-bottom: 0;
      text-align: left;
      color: #000000;
    }

    p {
      width: 300px;
      font-weight: 400;
      margin-bottom: 0;

      &:first-of-type {
        margin-top: 11px;
      }
    }
  }

  .effects__head-break {
    display: flex;
    flex-wrap: wrap;
  }

  .effects__effects-link {
    margin-top: 11px;

    a {
      color: $linkColor;
    }
  }
}

@media (min-width: $desktopWidth) {
  .effects {
    background: $bgColor;
  }

  .effects__content {
    display: grid;
    grid-template-columns: 298px 534px;
    padding-top: 150px;
    padding-bottom: 67px;
  }

  .effects__effects-image {
    margin-top: 36px;
    width: 298px;
    height: 345px;
    background-size: contain;
  }

  .effects__effects-info {
    h3 {
      line-height: 30px;
      margin-top: 130px;
    }

    p {
      width: 534px;
      font-size: 18px;
      line-height: 30px;

      &:first-of-type {
        margin-top: 26px;
      }
    }

    br {
      display: none;
    }
  }

  .effects__head-break {
    display: inline;
  }

  .effects__text-break {
    display: flex;
    flex-wrap: wrap;
  }

  .effects__effects-link {
    margin-top: 30px;
  }
}
