.main-nav {
  background-color: $textColor;
  z-index: 1;
}

.main-nav__nav-head {
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.main-nav__button-menu {
  width: 50px;
  height: 24px;
  background: url("../img/mobile/nav-open.svg") no-repeat;
  border: none;
  cursor: pointer;
}

.main-nav__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__nav-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
