.main-footer {
  padding-top: 35px;
  padding-bottom: 40px;
}

.main-footer__footer-logo {
  display: block;
  margin-left: 68px;
  width: 145px;
  height: 40px;
  background: url("../img/mobile/logo-footer.svg") no-repeat;
}

.main-footer__social-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 38px 54px 39px 54px;
  padding: 0;
}

.main-footer__social-item {
  width: 48px;
  height: 48px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  transition: 0.5s;

  a {
    display: inline-block;
    width: 42px;
    height: 42px;
  }

  &:hover,
  &:focus {
    border: 3px solid rgba(40, 54, 69, 1);
    transition: 0.5s;
  }

  &:active {
    opacity: 0.1;
  }

  &--twitter {
    background: url("../img/twitter.svg") no-repeat center;
  }

  &--facebook {
    background: url("../img/facebook.svg") no-repeat center;
  }

  &--youtube {
    background: url("../img/youtube.svg") no-repeat center;
  }
}

.main-footer__who-develop {
  display: flex;

  p {
    align-self: center;
    margin-left: 75px;
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    display: block;
    height: 34px;
    margin-left: 15px;
  }
}

@media (min-width: $tabletWidth) {
  .main-footer {
    padding-top: 30px;
    padding-bottom: 40px;

    &--container {
      display: grid;
      grid-template-columns: 1fr 79px 1fr 94px 1fr;
      padding: 0;
    }
  }

  .main-footer__footer-logo {
    margin: 0;
  }

  .main-footer__social-list {
    grid-column: 3;
    width: 174px;
    margin: 0;
    justify-content: flex-start;
    column-gap: 6px;
    flex-wrap: wrap;
  }

  .main-footer__who-develop {
    grid-column: 5;
    align-items: center;
    padding-bottom: 0;

    p {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktopWidth) {
  .main-footer {
    padding-top: 70px;
    padding-bottom: 75px;

    &--container {
      display: grid;
      grid-template-columns: 1fr 230px 1fr 230px 1fr;
    }
  }

  .main-footer__footer-logo {
    width: 147px;
    background: url("../img/desktop/logo-footer.svg") no-repeat;
  }

  .main-footer__who-develop {
    p {
      font-size: 18px;
      margin-bottom: 6px;
    }
  }
}
