.page-body {
  width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $textColor;
}

@media (min-width: $tabletWidth) {
  .page-body {
    width: 660px;
  }
}

@media (min-width: $desktopWidth) {
  .page-body {
    width: 1200px;
  }
}
