.price-table {
  width: 1130px;
  position: relative;
  left: 0%;
  transform: translateX(-50%);
  border-collapse: collapse;
}

.price-table__header {
  background-color: $textColor;
  color: #ffffff;

  th {
    position: relative;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    width: 276px;
    height: 91px;
    border-left: 2px solid $bgColor;

    &:first-of-type {
      background-color: $bgColor;
    }

    &:nth-of-type(3)::before {
      content: "";
      position: absolute;
      top: 0;
      left: -4px;
      width: 78px;
      height: 74px;
      background: url("../img/table-hit.svg") no-repeat;
    }
  }
}

.price-table__version,
.price-table__price {
  display: block;
}

.price-table__price {
  font-size: 18px;
  font-weight: 300;
}

.price-table__body {
  td {
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    width: 276px;
    height: 59px;
  }
}

.price-table__preferences {
  &--yes {
    width: 31px;
    height: 21px;
    background: url("../img/yes.svg") no-repeat;
    background-position: 90% 50%;
  }

  &--no {
    width: 27px;
    height: 27px;
    background: url("../img/no.svg") no-repeat;
    background-position: 90% 50%;
  }

  span {
    padding-left: 20px;
  }
}

@media (min-width: $tabletWidth) {
  .price-table {
    width: 100%;
    left: 50%;
  }

  .price-table__header {
    th {
      width: 152px;
      height: 72px;

      &:nth-of-type(3)::before {
        background-size: 60px 58px;
      }
    }
  }

  .price-table__body {
    td {
      text-transform: none;
      width: 152px;
      height: 45px;
    }
  }

  .price-table__row-title {
    padding-left: 15px;
  }

  .price-table__preferences {
    &--yes {
      background-position: 50% 50%;
    }

    &--no {
      background-position: 50% 50%;
    }

    span {
      display: none;
    }
  }
}

@media (min-width: $desktopWidth) {
  .price-table__header {
    th {
      width: 231px;
      height: 91px;

      &:nth-of-type(3)::before {
        left: -4px;
        background-size: 100%;
      }
    }
  }

  .price-table__version {
    font-size: 18px;
  }

  .price-table__price {
    font-size: 24px;
  }

  .price-table__body {
    td {
      font-size: 18px;
      width: 231px;
      height: 55px;
    }
  }

  .price-table__row-title {
    padding-left: 22px;
  }
}
