.reviews {
  position: relative;
  padding-top: 50px;

  h3 {
    color: #000000;
    margin-top: 0;
  }
}

.reviews__human-info {
  display: none;
}

.reviews__slider-block {
  text-align: center;
}

.reviews__slider-list {
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 19px;
  margin: 0;
  padding: 0 0 49px 0;
}

.reviews__slider-button {
  border: none;
  width: 6px;
  height: 6px;
  background-color: rgba(40, 54, 69, 0.3);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;

  &--active {
    background-color: #ffffff;
    box-shadow: 0 0 0 2px #283645;
  }
}

@media (min-width: $tabletWidth) {
  .reviews {
    padding-top: 0;
  }

  .reviews__slider-block {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 105px;

    p {
      margin: 0;
      line-height: 30px;
    }

    p:last-of-type {
      font-size: 18px;
    }

    h3 {
      font-size: 20px;
      line-height: 30px;
      margin-top: 51px;
      margin-bottom: 17px;
    }
  }

  .reviews__human-info {
    display: inline;
  }
}

@media (min-width: $desktopWidth) {
  .reviews {
    &::after {
      content: "";
      position: absolute;
      top: -120px;
      left: 47%;
      width: 79px;
      height: 63px;
      background: url("../img/desktop/quotes.svg") no-repeat;
    }
  }

  .reviews__slider-block {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 190px;

    h3 {
      font-style: 24px;
    }

    p:last-of-type {
      width: 688px;
    }
  }

  .reviews__slider-list {
    position: absolute;
    width: 940px;
    top: 25px;
    justify-content: space-between;
    padding: 0;
  }

  .reviews__slider-item {
    &:first-of-type {
      display: none;
    }

    &:nth-of-type(2) {
      button {
        background: url("../img/desktop/left-arrow.svg") no-repeat;
      }
    }

    &:nth-of-type(3) {
      button {
        background: url("../img/desktop/right-arrow.svg") no-repeat;
      }
    }
  }

  .reviews__slider-button {
    background-color: transparent;
    width: 22px;
    height: 41px;
    border: 0;
  }

  .reviews__human-info {
    font-size: 18px;
  }
}
