.users-photo {
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 20px;
  }
}

.users-photo__preview-text {
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 54px;
  margin-bottom: 60px;
  padding: 0 20px;
}

.users-photo__post--panorama {
  .users-photo__text-zone {
    margin: 0 20px;
  }
}

.users-photo__text-zone {
  background-color: $bgColor;
  padding-left: 17px;
  padding-bottom: 26px;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    text-align: left;
  }

  time {
    text-transform: uppercase;
  }
}

.users-photo__like-zone {
  span {
    font-size: 12px;
    font-weight: 400;
    color: $linkColor;
  }
}

@media (min-width: $tabletWidth) {
  .users-photo__preview-text {
    font-size: 18px;
  }

  .users-photo {
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 50px;
    }
  }

  .users-photo__post:not(.users-photo__post--panorama) {
    width: 300px;

    img {
      width: 300px;
      height: 300px;
    }

    .users-photo__text-zone {
      height: 155px;
    }
  }
}

@media (min-width: $desktopWidth) {
  .users-photo__preview-text {
    padding: 0 130px;
  }

  .users-photo {
    .container {
      row-gap: 54px;
    }
  }

  .users-photo__post--panorama {
    .users-photo__text-zone {
      margin: 0 130px;
    }
  }

  .users-photo__post:not(.users-photo__post--panorama) {
    img {
      height: 400px;
    }
  }
}
