.container {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: $tabletWidth) {
  .container {
    width: 620px;
  }
}

@media (min-width: $desktopWidth) {
  .container {
    width: 940px;
    padding: 0 130px;
  }
}
